<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TTCC Demo</title>
    <!-- <link href="static/img/favicon.ico" rel="shortcut icon" type="image/x-icon"/> -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/home.css" rel="stylesheet">
    <script src="static/js/jquery-1.11.3.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
  </head>
  <body>
    <!-- Navigation bar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="navbar-brand"> Voice Based HCI </div>
        </div>

        <div class="navbar-collapse collapse" id="navbar-main">
        </div>
      </div>
    </nav>

    <!-- Voice form -->
    <div class="container" id="voiceForm">
      <div class="row">
        <form role="form" id="command_form">
          <div class="form-group">
            <div class="col-xs-12 col-sm-12">
              <input type="text" autofocus class="form-control" name="command_text" placeholder="Enter command" />
            </div>
          </div>
        </form>
      </div>
    </div>

    <!-- Response received from the server -->
    <div class="holder">
    </div>
    <!-- <pre id="tweet"></pre> -->

  </body>
  <script src="static/js/utils.js" type="text/javascript"></script>
  <script src="static/js/config.js" type="text/javascript"></script>
  <script src="static/js/fileexplorer.js" type="text/javascript"></script>
  <script src="static/js/recognizer.js" type="text/javascript"></script>
  <script src="static/js/soundcloud.js" type="text/javascript"></script>
  <script src="static/js/tetris.js" type="text/javascript"></script>
  <script src="https://connect.soundcloud.com/sdk/sdk-3.0.0.js"></script>
  <script src="https://w.soundcloud.com/player/api.js" type="text/javascript"></script>
  <script src="static/js/main.js"></script>
</html>
